# Keyboard Layout
setxkbmap us &

# Wallpaper
nitrogen --restore &

# Compositor
picom -f -D 5 &

# Enable tap to click on touchpad
xinput --set-prop 'DELL0A75:00 06CB:7A13 Touchpad' 'libinput Tapping Enabled' 1
# Decrease Mouse Sensitivity
xinput --set-prop 'Compx 2.4G Receiver Mouse' 'libinput Accel Speed' -1
